<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<StiSerializer version="1.02" application="StiOptions" type="Flex">
  <AboutDialog>
    <TextLine1></TextLine1>
    <TextLine2></TextLine2>
    <Url></Url>
    <UrlText></UrlText>
  </AboutDialog>
  <Appearance>
    <DateFormat></DateFormat>
    <ShowFormsHelp>True</ShowFormsHelp>
    <ShowFormsHints>True</ShowFormsHints>
    <ShowTooltips>True</ShowTooltips>
    <ShowTooltipsHelp>True</ShowTooltipsHelp>
  </Appearance>
  <Connection>
    <ClientRepeatCount>1</ClientRepeatCount>
    <ClientRequestTimeout>20</ClientRequestTimeout>
    <EnableDataLogger>False</EnableDataLogger>
    <EnableUrlGuid>False</EnableUrlGuid>
    <ShowCancelButton>False</ShowCancelButton>
  </Connection>
  <Designer>
    <AlwaysUpdateReportFileName>False</AlwaysUpdateReportFileName>
    <Appearance>
      <GridSizeCentimetres>0.2</GridSizeCentimetres>
      <GridSizeHundredthsOfInch>10</GridSizeHundredthsOfInch>
      <GridSizeInch>0.1</GridSizeInch>
      <GridSizeMillimeters>2</GridSizeMillimeters>
      <SetReportModifiedWhenOpening>False</SetReportModifiedWhenOpening>
      <ShowMoreDetailsButton>True</ShowMoreDetailsButton>
      <ShowSaveFileDialog>False</ShowSaveFileDialog>
    </Appearance>
    <AutoSaveInterval>0</AutoSaveInterval>
    <Database>
      <AdapterBusinessObject>False</AdapterBusinessObject>
      <AdapterCrossTab>False</AdapterCrossTab>
      <AdapterCsv>False</AdapterCsv>
      <AdapterDataView>False</AdapterDataView>
      <AdapterDB2>False</AdapterDB2>
      <AdapterDBase>False</AdapterDBase>
      <AdapterDotConnectUniversal>False</AdapterDotConnectUniversal>
      <AdapterEffiProz>False</AdapterEffiProz>
      <AdapterFirebird>False</AdapterFirebird>
      <AdapterInformix>False</AdapterInformix>
      <AdapterJdbc>False</AdapterJdbc>
      <AdapterJsonData>True</AdapterJsonData>
      <AdapterMongoDB>False</AdapterMongoDB>
      <AdapterMSAccess>False</AdapterMSAccess>
      <AdapterMySql>True</AdapterMySql>
      <AdapterOdbc>False</AdapterOdbc>
      <AdapterOleDb>False</AdapterOleDb>
      <AdapterOracle>False</AdapterOracle>
      <AdapterOracleODP>False</AdapterOracleODP>
      <AdapterPostgreSQL>False</AdapterPostgreSQL>
      <AdapterSql>False</AdapterSql>
      <AdapterSqlCe>False</AdapterSqlCe>
      <AdapterSQLite>False</AdapterSQLite>
      <AdapterSybaseAds>False</AdapterSybaseAds>
      <AdapterSybaseAse>False</AdapterSybaseAse>
      <AdapterUniDirect>False</AdapterUniDirect>
      <AdapterUser>False</AdapterUser>
      <AdapterVirtual>True</AdapterVirtual>
      <AdapterVistaDB>False</AdapterVistaDB>
      <AdapterXmlData>True</AdapterXmlData>
    </Database>
    <DefaultPaperSize>Custom</DefaultPaperSize>
    <DefaultReportUnit>Centimeters</DefaultReportUnit>
    <Dictionary>
      <AllowModifyConnections>True</AllowModifyConnections>
      <AllowModifyDataSources>True</AllowModifyDataSources>
      <AllowModifyDictionary>True</AllowModifyDictionary>
      <AllowModifyRelations>True</AllowModifyRelations>
      <AllowModifyVariables>True</AllowModifyVariables>
      <CachePreviewData>True</CachePreviewData>
      <ShowActionsMenu>True</ShowActionsMenu>
      <ShowConnectionType>True</ShowConnectionType>
      <ShowOnlyAliasForBusinessObject>False</ShowOnlyAliasForBusinessObject>
      <ShowOnlyAliasForDatabase>False</ShowOnlyAliasForDatabase>
      <ShowOnlyAliasForDataColumn>False</ShowOnlyAliasForDataColumn>
      <ShowOnlyAliasForDataRelation>False</ShowOnlyAliasForDataRelation>
      <ShowOnlyAliasForDataSource>False</ShowOnlyAliasForDataSource>
      <ShowOnlyAliasForVariable>False</ShowOnlyAliasForVariable>
      <ShowTestConnectionButton>True</ShowTestConnectionButton>
    </Dictionary>
    <DontAskSaveReport>False</DontAskSaveReport>
    <MainMenu>
      <Caption>Default</Caption>
      <ShowClose>True</ShowClose>
      <ShowExitButton>True</ShowExitButton>
      <ShowNew>True</ShowNew>
      <ShowNewPage>True</ShowNewPage>
      <ShowNewReport>True</ShowNewReport>
      <ShowNewReportWithWizard>True</ShowNewReportWithWizard>
      <ShowOpenReport>True</ShowOpenReport>
      <ShowSaveAs>True</ShowSaveAs>
      <ShowSaveReport>True</ShowSaveReport>
    </MainMenu>
    <RunWizardAfterLoad>False</RunWizardAfterLoad>
    <Title></Title>
    <Toolbar>
      <ShowAboutButton>True</ShowAboutButton>
      <ShowDictionaryTab>True</ShowDictionaryTab>
      <ShowPreviewReportTab>True</ShowPreviewReportTab>
      <ShowSelectLanguage>True</ShowSelectLanguage>
      <Zoom>Default</Zoom>
    </Toolbar>
  </Designer>
  <Engine>
    <DisplayValueNaN></DisplayValueNaN>
    <EscapeQueryParameters>True</EscapeQueryParameters>
    <FlexAdapterJsonData>True</FlexAdapterJsonData>
    <FlexAdapterMySql>True</FlexAdapterMySql>
    <FlexAdapterXmlData>True</FlexAdapterXmlData>
    <Globalization>
      <AllowUseHyperlink>True</AllowUseHyperlink>
      <AllowUseTag>True</AllowUseTag>
      <AllowUseText>True</AllowUseText>
      <AllowUseToolTip>True</AllowUseToolTip>
    </Globalization>
    <PassVariablesInUrl>False</PassVariablesInUrl>
  </Engine>
  <Export>
    <Excel>
      <DivideBigCells>True</DivideBigCells>
    </Excel>
    <Excel2007>
      <DivideBigCells>True</DivideBigCells>
      <MaximumSheetHeight>1048574</MaximumSheetHeight>
      <RenderHtmlTagsAsImage>False</RenderHtmlTagsAsImage>
      <ShowGridLines>True</ShowGridLines>
    </Excel2007>
    <Pdf>
      <FontSizeCorrectionValue>0.954</FontSizeCorrectionValue>
    </Pdf>
    <Word>
      <DivideBigCells>True</DivideBigCells>
      <LineHeightExactly>True</LineHeightExactly>
      <RenderHtmlTagsAsImage>False</RenderHtmlTagsAsImage>
    </Word>
  </Export>
  <Localizations>
    <Localization>Default</Localization>
  </Localizations>
  <Print>
    <AllowDefaultPrint>True</AllowDefaultPrint>
    <AllowPrintToHtml>False</AllowPrintToHtml>
    <AllowPrintToPdf>True</AllowPrintToPdf>
    <AutoPageOrientation>True</AutoPageOrientation>
    <AutoPageScale>True</AutoPageScale>
    <PrintAsBitmap>True</PrintAsBitmap>
    <ShowPrintDialog>True</ShowPrintDialog>
  </Print>
  <Theme>Office2013</Theme>
  <Viewer>
    <Appearance>
      <AllowDrawSegmentMode>True</AllowDrawSegmentMode>
      <AutoHideScrollbars>False</AutoHideScrollbars>
      <CurrentPageBorderColor>Gold</CurrentPageBorderColor>
      <OpenLinksTarget>_blank</OpenLinksTarget>
      <VariablesPanelColumns>2</VariablesPanelColumns>
      <VariablesPanelEditorWidth>200</VariablesPanelEditorWidth>
    </Appearance>
    <Exports>
      <Destination>Local</Destination>
      <ShowExportDialog>True</ShowExportDialog>
      <ShowExportToCsv>True</ShowExportToCsv>
      <ShowExportToDocument>True</ShowExportToDocument>
      <ShowExportToExcel>True</ShowExportToExcel>
      <ShowExportToExcel2007>True</ShowExportToExcel2007>
      <ShowExportToHtml>True</ShowExportToHtml>
      <ShowExportToHtml5>True</ShowExportToHtml5>
      <ShowExportToPdf>True</ShowExportToPdf>
      <ShowExportToRtf>True</ShowExportToRtf>
      <ShowExportToText>True</ShowExportToText>
      <ShowExportToWord2007>True</ShowExportToWord2007>
    </Exports>
    <Title></Title>
    <Toolbar>
      <ShowAboutButton>True</ShowAboutButton>
      <ShowBookmarksButton>True</ShowBookmarksButton>
      <ShowDesignButton>False</ShowDesignButton>
      <ShowExitButton>False</ShowExitButton>
      <ShowFindButton>True</ShowFindButton>
      <ShowFirstPageButton>True</ShowFirstPageButton>
      <ShowFullScreenButton>True</ShowFullScreenButton>
      <ShowGoToPageButton>True</ShowGoToPageButton>
      <ShowLastPageButton>True</ShowLastPageButton>
      <ShowMainToolbar>True</ShowMainToolbar>
      <ShowNavigateToolbar>True</ShowNavigateToolbar>
      <ShowNextPageButton>True</ShowNextPageButton>
      <ShowOpenButton>True</ShowOpenButton>
      <ShowPageViewModeContinuousButton>True</ShowPageViewModeContinuousButton>
      <ShowPageViewModeMultipleButton>True</ShowPageViewModeMultipleButton>
      <ShowPageViewModeSingleButton>True</ShowPageViewModeSingleButton>
      <ShowParametersButton>True</ShowParametersButton>
      <ShowParametersPanel>True</ShowParametersPanel>
      <ShowPreviousPageButton>True</ShowPreviousPageButton>
      <ShowPrintButton>True</ShowPrintButton>
      <ShowSaveButton>True</ShowSaveButton>
      <ShowSendEMailButton>False</ShowSendEMailButton>
      <ShowThumbnailsButton>True</ShowThumbnailsButton>
      <ShowViewModeToolbar>True</ShowViewModeToolbar>
      <ShowZoom>True</ShowZoom>
      <Zoom>Default</Zoom>
    </Toolbar>
  </Viewer>
</StiSerializer>